/* ******* Century Gothic (Regular) ***** */
@font-face {
  font-family:  "Century Gothic";
  src: url('../fonts/CenturyGothic.woff') format('woff'),
       url('../fonts/CenturyGothic.ttf') format('truetype');
}

@font-face {
  font-family:  "Century Gothic";
  src: url('../fonts/CenturyGothicBold.ttf') format('truetype');
  font-weight: bold;
}
