doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Etalin
    

body
    header.clearfix
        nav.header-nav.clearfix
            .container
                .sandwich-menu
                    .bar1
                    .bar2
                    .bar3
                ul.header-nav__menu
                    li.header-nav__item
                        a(href="index.html") Вернуться на главную
    .article.clearfix
        .container
            .article__content
                h1 LED-освещение в офисах: современный тренд или необходимость?
                .article__image
                    img(src="../images/office-led-2.jpg", alt="LED-освещение в офисах")
                p Светодиодное освещение с каждым годом становиться всё привычнее и всё доступнее. Причем это касается любой сферы – как освещения дома, на работе в офисе, так и на улице или в производственном цеху. Давайте разберемся, светодиодное освещение - это еще одно веяние современности или это уже острая необходимость?
                p В данной статье мы рассмотрим применение LED-светильников для освещения офисных помещений, основные преимущества и недостатки, а также на что стоит обратить внимание.
                p На протяжении долгого периода времени учеными изучается вопрос: каким образом, и в какой мере свет оказывает влияние на человеческий организм? В ходе 
                    a(href="http://fguz-sakha.ru/portfolio-view/osveshenie" target="_blank") исследований 
                    |в этой области было доказано, что некачественное освещение действительно способно вызвать переутомление, дискомфорт, снизить работоспособность, внимание. На физическом уровне воздействие плохого света, наличии пульсаций, неравномерного освещения может спровоцировать приступ мигрени. 
                p Из этого следует вывод, что правильное и хорошее освещение очень важно в офисных помещениях, где человек проводит большую часть дня, а также занимается умственной деятельностью.
                h2 Что в себя включает понятие «хорошее освещение» для офисов?
                .article__image
                    img(src="../images/office-led-1.jpg", alt="LED-освещение в офисах")
                p Хорошее освещение должно гарантировать:
                ol
                    li Хороший уровень освещенности, достаточный для эффективной работы сотрудников, т.к. с помощью зрения человек получает большую часть информации – около 90% (уровень освещенности должен быть не ниже установленных норм СНиП для такого типа помещений – для офисов это не менее 300 лк);
                    li Равномерность освещения и оптимальную яркость;
                    li Отсутствие бликов и мерцаний;
                    li Хорошую цветопередачу, при которой цвета при искусственном освещении максимально приближены к цветам при солнечном свете.
                p Дефицит солнечного света даже весной и летом – проблема многих офисов. Тем не менее регулировать биоритмы и, главное, делать это безопасным для человека образом, с помощью искусственных световых источников можно. Для этого офисное и промышленное освещение должно быть хорошим и качественным. Таким на данный момент является светодиодное освещение. С его помощью можно не только влиять на состояние человека, но и улучшать его, увеличивать работоспособность. Правильно подобранные источники света позволяют сделать решение рабочих задач более успешным. 
                p Отличных результатов позволяет добиваться использование светодиодных офисных светильников типа Панель 600*600мм. Светодиодное освещение полностью безопасно для здоровья человека. Экологичность LED-светильников намного выше чем у обычных ламп, их влияние как на человека, так и на окружающую среду сводится к нулю.  Они служат долго, потребляют мало энергии и безвредны для глаз. 
                h2 Несколько интересных фактов о светодиодных лампах и светильниках
                p Основная особенность LED технологии состоит в принципиально новом и отличном от традиционных методов принципе получения света. LED (светодиод) – это полупроводник, который при прохождении через него электрического тока излучает свет, но в таком узком диапазоне, что энергия не затрачивается на нагрев воздуха (при этом инфракрасное, тепловое и ультрафиолетовое излучение минимальны). Это очень важно, поскольку лампа накаливания тратит  чуть ли не половину энергии на тепло, а так называемая «энергосберегающая» лампа часто становится источником ультрафиолета - вредного для людей и животных. В светодиодах энергия расходуется на создание света, а не тепла.
                p Главными преимуществами перехода на светодиодное освещение в офисах является два основных параметра:
                ol
                    li Качество освещения - в светодиодных светильниках отсутствует пульсация света, инфракрасное и ультрафиолетовое излучение, а сам световой поток максимально приближен к натуральному дневному свету, который является оптимальным для человеческого глаза.
                    li Безопасность - светильники для офиса на основе светодиодов – безопасны. Они не содержат в себе вредных материалов, таких как ртуть или аргон и абсолютно пожаробезопасны. Также, светодиодные светильники не требуют специальной утилизации.
                p Но это далеко не все плюсы светодиодных светильников, на картинке ниже представлены еще несколько преимуществ LED-освещения в офисных помещениях.
                .article__image
                    img(src="../images/office-led-3.jpg", alt="LED-освещение в офисах")
                p Как видим, преимуществ перехода на LED более чем достаточно. Наверное, стоит поговорить также о недостатках. Собственно говоря, он у светодиодных светильников всего один – относительно высокая стоимость, по сравнению с традиционными лампами. Но давайте все же будем справедливыми: достоинства светодиодных светильников неоспоримы, а значит их цена более чем оправдана, тем более, что с каждым годом LED-освещение становится все более доступным и в скором времени по стоимости приблизится к уровню ламп-экономок. Отметим еще, что мощность светового потока led-ламп гораздо больше, чем у обычных светильников. Поэтому для освещения пространства их понадобится значительно меньшее количество, чем традиционных ламп.
                h2 Рентабельность инвестиций при переходе на LED-освещение для офисных помещений
                p Светодиоды доказали свою способность обеспечивать ускоренный возврат инвестиций благодаря значительной экономии энергии, минимальной тепловой мощности, низким эксплуатационным расходам и длительному сроку службы. 
                p Светодиодные офисные светильники компании Etalin Lighting Group Kazakhstan – это современные стильные светильники с высокими показателями энергоэффективности и высоким уровнем качества света. Благодаря высоким показателям светоотдачи Лм/Вт и долгому сроку службы, подтвержденному гарантией производителя 3 года, срок окупаемости данных светильников 1 год или меньше! Переходя на LED-освещение ТМ Etalin вы получаете качественный свет и гарантированную экономию!
                p Подводя итоги, скажем, что, несмотря на изначально кажущуюся дороговизну, офисные светодиодные светильники окупятся уже в течение первых полугода-года эксплуатации, и вы получите качественное и энергоэффективное освещение офиса, которое будет радовать глаз и стимулировать работоспособность ваших сотрудников. И да, светодиодное освещение – в 21 веке это уже необходимость. На данный момент только LED может обеспечить качественный и экономный свет.
                p Команда экспертов Etalin Lighting Group Kazakhstan поможет вам при расчете рентабельности инвестиций и срока окупаемости для ваших проектов или для комфортного перехода на LED-освещение в офисных помещениях (и не только).
                p Также специалисты Etalin Lighting Group бесплатно разработают проектно-техническое решение по LED-освещению вашего помещения. Для заказа проекта отправьте свою заявку с пометкой «Расчет проекта эффективного освещения» нам на почту office@etalin.kz или воспользуйтесь 
                    a(href="index.html#contacts") формой обратной связи на сайте.

    footer
        .container
            .footer__socials
                a(href="#").footer__socials-item
                    <i class="fa fa-vk" aria-hidden="true"></i>
                a(href="#").footer__socials-item
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                a(href="#").footer__socials-item
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                a(href="#").footer__socials-item
                    <i class="fa fa-youtube" aria-hidden="true"></i>
            .footer__copyright © All Rights Reserved