body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Century Gothic";
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 0;
    line-height: 23px;
}

a, a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.u-hidden {
    display: none !important;
}

.clearfix::after,
.container::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.btn {
    width: 100%;
    background: #99cc33;
    border-radius: 10px;
    border: 0;
    padding: 15px 0;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

    @media(min-width: $tablet-min) {
        font-size: 18px;
        padding: 13px 15px;
        width: 400px;
    }

    &:hover {
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    }
}

.container {
    padding: 0 15px;
    max-width: 570px;
    margin: 0 auto;

    @media (min-width: $tablet-min) {
        max-width: 750px;
    }

    @media (min-width: $desktop-min) {
        max-width: 1200px;
    }
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    transition: opacity .6s ease-in;

    @media(min-width: $tablet-min) {
        margin-bottom: 25px;
        font-size: 36px;
    }
}

.section-stripe {
    width: 100px;
    height: 3px;
    background: #99cc33;
    margin: 0 auto 40px;

    @media(min-width: $tablet-min) {
        margin-bottom: 30px;
    }
}

.wrapper {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

section {
    margin-bottom: 73px;
}
.section__btn {
    font-size: 14px;
}

.fa {
    color: #003366;
}


     .owl-dots {
    text-align: center;
    // position: fixed;
    // bottom: 5px;
    width: 100%;
    backface-visibility: hidden;
}

.owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(127,127,127, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}

.owl-dot.active {
    background: rgba(127,127,127, 1);
}

.mobile-hide {
    display: none;

    @media(min-width: $desktop-min) {
        display: block;
    }
}


// Стили для страницы со статьей

.article {
    font-size: 14px;
    margin-top: 70px;

    &__content {
        h1 {
            font-size: 1.5em;
            margin-bottom: 15px;
            text-align: center;
        }
        h2 {
            font-size: 1.3em;
            margin-bottom: 15px;
            text-align: center;
        }
        p {
            font-size: 1.1em;
            line-height: 26px;
            margin-bottom: 15px;
            
            & + p {
                margin-top: 15px;
            }
        }

        ol > li {
            font: normal 1.1em "Century Gothic";
            line-height: 26px;
            margin-bottom: 15px;
        }

        a {
            color: #003366;
            font-size: 14px;
            text-decoration: underline;
        }
    }

    &__image {
        width: 100%;
        margin-bottom: 20px;

        img {
            max-width: 100%;
        }
    }
}

// .article-close {
//     position: absolute;
//     top: 30px;
//     left: 25px;
//     font-size: 24px;
// }


// Всплыващее окно обратной связи
.popup-outer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9000;
    overflow: hidden;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    display: none;
    font-size: 18px;
}

.popup-form {
    position: relative;
    margin: 50px auto 0;
    width: 290px;
    padding: 35px 20px 40px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.5);
    display: none;
    opacity: 0;

    @media(min-width: $tablet-min) {
        width: 480px;
        // margin-left: -298px;
        // margin-top: -223px;
        // padding-top: 70px;
        // padding-bottom: 60px;

        &__title {
            font-size: 1.5em;
        }
    }

    @media(min-width: $desktop-min) {
        height: auto;

        .section-stripe {
            margin-bottom: 40px;
        }
    }

    &__title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }

    &__field {
        display: block;
        width: 100%;
        max-width: 370px;
        border: 2px solid #99cc33;
        border-radius: 6px;
        padding: 10px;
        margin: 0 auto 25px;
        outline: none;
        cursor: pointer;

        @media (min-width: $tablet-min) {
            padding: 13px;
        }

        &:focus {
            border-color: #2f8c00;
        }
    }

    & .popup-form__btn {
        background: #fff;
        color: #003366;
        border: 2px solid #003366;
        width: 100%;
        max-width: 370px;
        padding: 10px;
        font: bold 20px "Century Gothic", sans-serif;
        cursor: pointer;
        outline: none;

        @media (min-width: $tablet-min) {
            padding: 13px;
        }
    }
    
    & .popup-form__callback {
        width: 100%;
        clear: both;
    }

    &__consult {
        padding: 30px 20px;
        max-height: 480px;

        @media (min-width: $tablet-min) {
            padding-top: 46px;
            max-height: 595px;
        }

        @media (min-width: $desktop-min) {
            min-height: 410px;
            height: 450px;
            height: 68vh;
            max-height: 530px;
            width: 480px;
            font-size: 26px;
            font-size: 2vh;

            & .section-stripe {
                margin-bottom: 20px;
            }

            input {
                font-size: 1.15em;
                padding: 8px;
                padding: 1.6vh;
                max-height: 52px;
            }
        }

        & .popup-form__field {
            margin-bottom: 18px;
        }

        textarea {
            height: 130px; 

            @media (min-width: $desktop-min) {
                font-size: 1.15em;
                padding: 8px;
                padding: 1.6vh;
                height: 120px;
                height: 15vh;
                max-height: 150px;

            }
        }
    }
    
    &__thanks {
        margin-top: 150px;
        margin-top: 40vh;
        color: #003366;

        @media (min-width: $tablet-min) {
            width: 557px !important;
        }

        & .popup-form__title {
            margin-bottom: 20px;
        }
    }

}

.popup-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    color: #d4d4d4;
    cursor: pointer;

    @media(min-width: $tablet-min) {
        top: 20px;
        right: 25px;
        font-size: 25px;
    }
}