body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Century Gothic";
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 0;
    line-height: 23px;
}

a, a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.u-hidden {
    display: none !important;
}

.clearfix::after,
.container::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.btn {
    width: 100%;
    background: #99cc33;
    border-radius: 10px;
    border: 0;
    padding: 15px 0;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

    @media(min-width: $tablet-min) {
        font-size: 18px;
        padding: 13px 0;
        width: 370px;
    }

    &:hover {
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    }
}

.container {
    padding: 0 15px;
    max-width: 570px;
    margin: 0 auto;

    @media (min-width: $tablet-min) {
        max-width: 750px;
    }

    @media (min-width: $desktop-min) {
        max-width: 1200px;
    }
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;

    @media(min-width: $tablet-min) {
        margin-bottom: 25px;
        font-size: 36px;
    }
}

.section-stripe {
    width: 100px;
    height: 3px;
    background: #99cc33;
    margin: 0 auto 40px;

    @media(min-width: $tablet-min) {
        margin-bottom: 30px;
    }
}

.wrapper {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

section {
    margin-bottom: 93px;
}
.section__btn {
    font-size: 14px;
}

.fa {
    color: #003366;
}


     .owl-dots {
    text-align: center;
    // position: fixed;
    // bottom: 5px;
    width: 100%;
    backface-visibility: hidden;
}

.owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(127,127,127, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}

.owl-dot.active {
    background: rgba(127,127,127, 1);
}

.mobile-hide {
    display: none;

    @media(min-width: $desktop-min) {
        display: block;
    }
}