/* header scss file */
body {
    background: url('../images/tomato.jpg') center center no-repeat;

    p {
        color: orange;
        display: flex;
        height: 100px;
        font: 15px 'OpenSans';
    }
}
