.about {
    &__image {
        width: 100%;
        height: 63vw;
        max-height: 540px;
        overflow: hidden;
        margin-bottom: 40px;
        -webkit-box-shadow: 4px 4px 0px 0px rgba(0,51,102,1);
        -moz-box-shadow: 4px 4px 0px 0px rgba(0,51,102,1);
        box-shadow: 4px 4px 0px 0px rgba(0,51,102,1);
        position: relative;

        img {
            width: 110%;
            height: 110%;
        }

        &-logo {
            position: absolute;
            bottom: 0;
            // z-index: 1;
            background: rgba(255, 255, 255, 0.75);
            background-image: url(../images/logo-etalin.png);
            background-size: 31%;
            background-repeat: no-repeat;
            background-position: 3px 3px;
            height: 26%;
            width: 100%;
        }
    }

    &__info {
        margin-bottom: 65px;

        p {
            text-indent: 40px;
            
            & + p {
                margin-top: 20px;
            }
        }
    }

    @media(min-width: $tablet-min) {
        &__image {
            width: 99%;
            margin-bottom: 47px;
            -webkit-box-shadow: 8px 12px 0px 0px rgba(0,51,102,1);
            -moz-box-shadow: 8px 12px 0px 0px rgba(0,51,102,1);
            box-shadow: 8px 12px 0px 0px rgba(0,51,102,1);

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__info {
            margin-bottom: 36px;
        }
    }
    @media(min-width: $desktop-min) {
        &__image {
            float: left;
            width: 39%;
            height: 510px;
            margin-bottom: 0;
            margin-right: 43px;
            -webkit-box-shadow: 12px 12px 0px 0px rgba(0,51,102,1);
            -moz-box-shadow: 12px 12px 0px 0px rgba(0,51,102,1);
            box-shadow: 12px 12px 0px 0px rgba(0,51,102,1);

            img {
                width: 160%;
                height: 100%;
                margin-left: -76px;
            }

            &-logo {
                background-size: 48%;
                background-position: 9px 9px;
            }
        }

        &__info {
            float: left;
            width: 57%;
            margin-bottom: 20px;
        }

        &__btn {
            float: left;

            @media(min-width: $desktop-min) {
                width: 394px;
            }
        }
    }
}