.calculator {
    &__btn {
        clear: both;
    }

    &__header {
        font-size: 20px;
        margin-bottom: 33px;
        text-align: left;

        @media(min-width: $tablet-min) {
            font-size: 30px;
        }
        @media(min-width: $desktop-min) {
            width: 41%;
        }
    }

    &-form {
        text-align: center;

        @media(min-width: $desktop-min) {
            text-align: left
        }

        &__label {
            font-size: 20px;
            color: #003366;
            margin-bottom: 5px;

            @media(min-width: $tablet-min) {
                font-size: 30px;
                margin-bottom: 11px;
				text-align: center;
            }

            @media(min-width: $desktop-min) {
                width: 375px;
            }
        }
        &__field {
            font-family: "Century Gothic";
            background: #fff;
            border: 2px solid #99cc33;
            border-radius: 10px;
            margin-bottom: 26px;
            padding: 14px 11px;
            width: 289px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;

            &:focus {
                border: 2px solid #2f8c00;
                border-radius: 10px;
                outline: none;
                color: #000;
            }

			&-select {
				option {
					width: 370px;
				}
			}

            @media(min-width: $tablet-min) {
                width: 375px;
            }

            @media(min-width: $desktop-min) {
                width: 370px;
                padding: 17px 11px;
            }


            &-image {
                width: 100%;
                max-height: 179px;
                line-height: 180px;
                overflow: hidden;
                margin: 0 auto 26px;
                text-align: center;

                img {
                    max-height: 179px;
                    vertical-align: middle;
                }

				&.empty {
					margin: 0;
					padding: 0;
					border: 0;
				}

                @media(min-width: $tablet-min) {
                    margin-bottom: 29px;
                }
                @media(min-width: $desktop-min) {

                    margin-left: 0;

                    &-label {
                        position: absolute;
                        top: 105px;
                        left: 34%;
                        margin-left: 0;
                    }
                }
            }

            &-code {
                height:52px;
                margin: 15px auto 64px;

				@media(min-width: $desktop-min) {
					margin-bottom: 38px;
				}
            }
        }

        &__options {
            margin: 0 auto 25px;
			position: relative;

			@media(min-width: $tablet-min) {
				margin-bottom: 26px;
			}

            &-title {
				text-align: left;
            }

            &-item {
                padding-bottom: 5px;
                margin-bottom: 10px;
                border-bottom: 1px solid #99cc33;
                cursor: pointer;

                &:last-child {
                    border-bottom: 0;
                }
            }

			&-dropdown {
				display: none;
				position: absolute;
				z-index: 1;
				top: 49px;
				left: -2px;
				border-top: 0;
				border-radius: 0 0 10px 10px;

				@media(min-width: $desktop-min) {
					top: 49px;
				}
			}
			// &:hover .calculator-form__options-dropdown{
			// 	display: block;
			// }
			// &:hover {
			// 	border-bottom-color: #fff;
			// 	border-radius: 10px 10px 0 0;
			// }
			&-selected:hover {
				border-bottom-color: #99cc33;
				border-radius: 10px;
			}
        }

        &--left {
            margin-bottom: 49px;

            @media(min-width: $desktop-min) {
                float: left;
                width: 68%
            }
        }

        &--right {

            @media(min-width: $desktop-min) {
                float: right;
                width: 32%;

                & .calculator__header {
                    margin-left: -100px;
                    width: 405px;
                }
            }
        }
    }

    & .calculator__form-btn {
        background: #fff;
        color: #003366;
        border: 4px solid #003366;
        width: 100%;
        padding: 10px;
        margin-bottom: 60px;
        font: bold 20px "Century Gothic", sans-serif;
        cursor: pointer;

        @media(min-width: $tablet-min) {
            width: 375px;
            padding: 7px;
            font-size: 30px;
        }
    }
}

.calculator__form-group {

	&--power {
		display: none;
	}
}
.options {
    
    
    &-item {

        &__image {
            width: 100%;
            height: 150px;
            line-height: 150px;

            img {
                max-height: 100%;
            }

            @media(min-width: $tablet-min) {
                float: left;
                width: 50%;
            }
        }

        &__name {
            margin: 15px 0;

            @media(min-width: $tablet-min) {
                float: right;
				width: 45%;
            }
        }

		&__price {
			float: right;
			text-align: right;
			background:  #76bd2a;
			padding: 10px;
			font-weight: bold;
		}
    }
}

@media(min-width: $desktop-min) {
	.calculator__form-group {
		&--left {
			float: left;
		}

		&--right {
			float: right;
			margin-right: 23px;
		}
	}
}

.calculator__results {
	margin-bottom: 66px;

	@media(min-width: $tablet-min) {
		margin-bottom: 33px;
	}

	&-title {
		text-align: left;
		color: #003366;
		font-weight: bold;
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 15px;

		@media(min-width: $tablet-min) {
			font-size: 24px;
			line-height: 32px;
			float: left;
			width: 59%;
			margin-bottom: 23px;
		}
	}

	&-field {
		color: #003366;
		font-weight: bold;
		font-size: 20px;
		border: 2px solid #99cc33;
		border-radius: 10px;
		margin-bottom: 36px;
		padding: 14px 11px;
		

		@media(min-width: $tablet-min) {
			float: right;
			width: 30%;
			margin-top: 10px;
			font-size: 24px;
			padding: 9px 11px 14px;
		}

		@media(min-width: $desktop-min) {
			margin-bottom: 25px;
		}
	}
}