.calculator {
    &__btn {
        clear: both;
    }

    &__header {
        font-size: 20px;
        margin-bottom: 33px;
        text-align: left;

        @media(min-width: $tablet-min) {
            font-size: 30px;
        }
        @media(min-width: $desktop-min) {
            width: 41%;
        }
    }

    &-form {
        text-align: center;
        position: relative;

        @media(min-width: $desktop-min) {
            text-align: left
        }

        &__label {
            font-size: 20px;
            color: #003366;
            margin-bottom: 5px;

            @media(min-width: $tablet-min) {
                font-size: 30px;
                margin-bottom: 11px;
            }

            @media(min-width: $desktop-min) {
                // margin-left: 109px;
            }
        }
        &__field {
            font-family: "Century Gothic";
            background: #fff;
            border: 2px solid #99cc33;
            border-radius: 10px;
            margin-bottom: 26px;
            padding: 14px 11px;
            width: 289px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;

            &:focus {
                border: 2px solid #2f8c00;
                border-radius: 10px;
                outline: none;
                color: #000;
            }

            @media(min-width: $tablet-min) {
                width: 375px;
            }

            @media(min-width: $desktop-min) {
                width: 370px;
                padding: 17px 11px;
            }


            &-image {
                width: 100%;
                max-height: 179px;
                line-height: 180px;
                overflow: hidden;
                margin: 0 auto 26px;
                text-align: center;

                img {
                    max-height: 179px;
                    vertical-align: middle;
                }

                @media(min-width: $tablet-min) {
                    margin-bottom: 29px;
                }
                @media(min-width: $desktop-min) {
                    position: absolute;
                    top: 138px;
                    left: 34%;
                    margin-left: 0;

                    &-label {
                        position: absolute;
                        top: 105px;
                        left: 40%;
                        margin-left: 0;
                    }
                }
            }

            &-code {
                height:52px;
                margin: 15px auto 76px;
            }
        }

        &__options {
            margin: 0 auto 25px;

            &-title {
                margin-bottom: 15px;
            }

            &-item {
                padding-bottom: 5px;
                margin-bottom: 10px;
                border-bottom: 1px solid #99cc33;
                cursor: pointer;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }

        &--left {
            margin-bottom: 49px;

            @media(min-width: $desktop-min) {
                float: left;
                width: 68%
            }
        }

        &--right {

            @media(min-width: $desktop-min) {
                float: right;
                width: 32%;

                & .calculator__header {
                    margin-left: -100px;
                    width: 405px;
                }
            }
        }
    }

    & .calculator__form-btn {
        background: #fff;
        color: #003366;
        border: 4px solid #003366;
        width: 100%;
        padding: 10px;
        margin-bottom: 60px;
        font: bold 20px "Century Gothic", sans-serif;
        cursor: pointer;

        @media(min-width: $tablet-min) {
            width: 375px;
            padding: 7px;
            font-size: 30px;
        }
    }
}
.options {
    
    
    &-item {

        &__image {
            width: 100%;
            height: 150px;
            line-height: 150px;

            img {
                max-height: 100%;
            }

            @media(min-width: $tablet-min) {
                float: left;
                width: 50%;
            }
        }

        &__name {
            margin: 15px 0;

            @media(min-width: $tablet-min) {
                float: right;
            }
        }
    }
}











.all-block-calc {
	float: left;
	width: 100%;
	font-family: 'CenturyGothicRegular';
}

.center-all-block-calc {
	margin: 0px auto;
	max-width: 1200px;
}

.left-all-block-calc {
	float: left;
	width: 49%;
}

.all-header-calc {
	float: left;
	width: 100%;
	min-height: 70px;
	font-size: 50px;
	color: #76bd2a;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
	text-transform: uppercase;
}

.left-block-calc {
	// float: left;
	/*margin: 0px 3%;*/
	/*min-width: 300px;*/
	/*width: 44%;*/
	margin: 0px 35px;
	width: 530px;
}

.header-left-block-calc {
	float: left;
	padding-right: 20%;
	margin-left: 13px;
	width: 80%;
	font-size: 34px;
	color: #76bd2a;
	text-align: left;
	line-height: 38px;
	letter-spacing: 1px;
}

.one-of-left-block-calc {
	float: left;
	/*margin: 0px 2%;*/
	/*width: 46%;*/
	margin: 0px 15px;
	width: 235px;
	height: 0px;
}

.one-of-left-block-calc.right {
	float: right;
}

.block-one-of-select {
	float: left;
	width: 100%;
	height: 70px;
}

.header-one-of-select {
	float: left;
	margin-top: 15px;
	margin-bottom: 5px;
	width: 100%;
	font-size: 17px;
	line-height: 20px;
	color: #183a74;
	font-weight: bold;
	text-align: center;
	letter-spacing: -1px;
}

img.set-img {
	margin: 0px auto;
	height: 65px;
}

.separator {
	float: left;
	margin: 2px 0px;
	width: 100%;
	height: 2px;
	background: #76bd2a;
}

.type-lamp,
.power-lamp,
.power-lamp-hidden,
.number-lamp-hidden,
.power-lighting-hidden,
.time-job-hidden,
.number-change-hidden,
.cost-lamp-lighting-hidden {
	display: none;
}

/**/

.block-select-one,
.block-select-two,
.block-select-three,
.block-select-type-lamp,
.block-select-power-lamp {
	position: relative;
	float: left;
	border-radius: 5px;
	border: 2px solid #76bd2a;
	/*border-bottom: 1px solid #76bd2a;*/
	padding-bottom: 0px;
	width: 98%;
	/*background: #f1f1f1;*/
}

.block-select-one.lum,
.block-select-two,
.block-select-three {
	display: none;
}

.disabled-input {
	/*display: none;*/
	float: left;
	border-radius: 5px;
	border: 2px solid #183a74;
	/*border-bottom: 2px solid grey;*/
	padding-bottom: 0px;
	width: 98%;
	height: 24px;
	text-align: center;
	background: white;
	font-size: 14px;
}

.select-registration-calc,
.select-registration-calc-two,
.select-registration-calc-three,
.select-type-lamp,
.select-power-lamp {
	position: relative;
	border-radius: 3px;
	z-index: 5;
	cursor: pointer;
	float: left;
	width: 100%;
	/*padding: 5px 0px;*/
	/*padding-bottom: 5px*/
	/*border-bottom: 2px solid #76bd2a;*/
	/*background: #e3e3e3;*/
}

.all-block-option-type-lamp,
.block-select-type-lamp {
	z-index: 30;
}

.all-block-option-power-lamp,
.block-select-power-lamp {
	z-index: 29;
}

#total-calc,
#total-calc-two,
#total-calc-three,
#type-lamp,
#power-lamp {
	float: left;
	width: 100%;
	padding: 2px 0px;
	font-size: 16px;
	text-align: center;
}

.all-block-option-calc,
.all-block-option-calc-two,
.all-block-option-calc-three,
.all-block-option-type-lamp,
.all-block-option-power-lamp {
	position: relative;
	display: none;
	outline: none;
	float: left;
	padding: 2px 0px;
	width: 100%;
	background: white;
}

.points-count-calc,
.points-count-calc-two,
.points-count-calc-three,
.points-count-type-lamp,
.points-count-power-lamp {
	position: relative;
	z-index: 6;
	cursor: pointer;
	float: left;
	padding: 2px 0px;
	width: 100%;
	line-height: 20px;
	color: #393939;
	letter-spacing: -1px;
	text-align: center;
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	transition: all 0.2s;
}

.points-count-calc span,
.points-count-calc-two span,
.points-count-calc-three span,
.points-count-type-lamp span,
.points-count-power-lamp span,
#total-calc span,
#total-calc-two span,
#total-calc-three span,
#type-lamp span,
#power-lamp span {
	float: left;
	/*margin: 2px 0px;*/
	width: 100%;
	text-align: center;
	font-size: 16px;
}

.points-count-calc:hover,
.points-count-calc-two:hover,
.points-count-calc-three:hover,
.points-count-type-lamp:hover,
.points-count-power-lamp:hover {
	background: #76bd2a;
}

#total-type-lamp,
#total-power-lamp,
#number-lightiing,
#tariff-for-electro,
#total-type-lighting-hidden,
#total-power-lamp-hidden,
#total-number-lamp-hidden,
#total-power-lighting-hidden,
#total-time-job-hidden,
#total-number-change-hidden,
#total-cost-lamp-lighting-hidden,
.power-lighting-led-hidden {
	float: left;
	width: 98%;
	height: 23px;
	border: 2px solid #76bd2a;
	border-radius: 5px;
	/*margin-bottom: 5px;*/
	/*color: #9f9f9f;*/
	font-size: 16px;
	text-align: center;
}

.hidden-input {
	display: none;
}

#total-type-lamp,
.power-lighting-led-hidden,
.time-job-led-hidden,
.cost-lamp-lighting-led-hidden {
	display: none;
}


/*================*/

.right-block-calc,
.right-block-calc-two,
.right-block-calc-three {
	display: none;
	float: left;
	/*margin: 0px 3%;*/
	/*min-width: 300px;*/
	/*width: 44%;*/
	margin: 0px 35px;
	width: 530px;
}

input[type=checkbox] {
  display: none;
}

input[type="checkbox"] + label.led-line-one,
input[type="checkbox"] + label.led-line-two,
input[type="checkbox"] + label.led-line-three,
input[type="checkbox"] + label.led-line-four,
input[type="checkbox"] + label.led-line-five,
input[type="checkbox"] + label.led-line-six,
input[type="checkbox"] + label.led-line-seven,
input[type="checkbox"] + label.led-line-eight,
input[type="checkbox"] + label.led-line-nine,
input[type="checkbox"] + label.led-line-ten,
input[type="checkbox"] + label.led-line-elewen,
input[type="checkbox"] + label.led-line-twelwe,
input[type="checkbox"] + label.led-line-thirting,
input[type="checkbox"] + label.led-line-fourting {
	float: left;
    display: inline-block;
    padding: 1%;
	width: 96%;
	min-height: 20px;
	text-align: center;
	line-height: 20px;
	color: #76bd2a;
	font-size: 16px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	transition: all 0.2s;
}

input[type="checkbox"]:checked + label.led-line-one,
input[type="checkbox"]:checked + label.led-line-two,
input[type="checkbox"]:checked + label.led-line-three,
input[type="checkbox"]:checked + label.led-line-four,
input[type="checkbox"]:checked + label.led-line-five,
input[type="checkbox"]:checked + label.led-line-six,
input[type="checkbox"]:checked + label.led-line-seven,
input[type="checkbox"]:checked + label.led-line-eight,
input[type="checkbox"]:checked + label.led-line-nine,
input[type="checkbox"]:checked + label.led-line-ten,
input[type="checkbox"]:checked + label.led-line-elewen,
input[type="checkbox"]:checked + label.led-line-twelwe,
input[type="checkbox"]:checked + label.led-line-thirting,
input[type="checkbox"]:checked + label.led-line-fourting {
    border: 1px solid #76bd2a;
}

.all-block-one-of-led-fade {
	display: none;
}

.all-block-one-of-led {
	display: none !important;
	float: left;
	/*margin: 0px 2%;*/
	margin: 0px 15px;
	margin-top: -2px;
	/*width: 46%;*/
	width: 235px;
	min-height: 100px;
	background: white;
}

.all-block-one-of-led.one.focus,
.all-block-one-of-led.two.focus,
.all-block-one-of-led.three.focus,
.all-block-one-of-led.four.focus,
.all-block-one-of-led.five.focus,
.all-block-one-of-led.six.focus,
.all-block-one-of-led.seven.focus,
.all-block-one-of-led.eight.focus,
.all-block-one-of-led.nine.focus,
.all-block-one-of-led.ten.focus,
.all-block-one-of-led.elewen.focus,
.all-block-one-of-led.twelwe.focus,
.all-block-one-of-led.thirting.focus,
.all-block-one-of-led.fourting.focus {
	display: block !important;
}

.articul-led {
	float: left;
	width: 98%;
	border: 2px solid #76bd2a;
	min-height: 24px;
	text-align: center;
	line-height: 24px;
	color: #9f9f9f;
	font-size: 14px;
	border-radius: 5px;
}

.border-for-img-led {
	float: left;
	margin-top: 0px;
	width: 98%;
	height: 95px;
	border: 2px solid #76bd2a;
	border-radius: 5px;
	margin-bottom: 1px;
}

.border-for-img-led img {
	margin: 10px auto;
	height: 65px;
}

.null-block {
	float: left;
	width: 100%;
	height: 0px;
}

.block-cost-led {
	margin-top: -22px;
	margin-right: 4px;
	float: right;
	padding-left: 18px;
	height: 18px;
	background: url(../images/calculator/dotted-a.png) 2px 2px no-repeat;
}

.bg-cost-led-all {
	float: left;
	padding: 0px 5px;
	border-radius: 5px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	color: white;
	background: #76bd2a;
}

.button-calc {
	display: none;
	cursor: pointer;
	/*float: left;*/
	/*margin-left: 3%;*/
	float: right;
	/*margin-right: 37%; /**/
	margin-right: 318px;
	margin-top: 37px; /**/
	width: 228px;
	height: 25px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #183a74;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	color: #183a74;
	background: transparent;
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	transition: all 0.2s;
}

.button-calc:hover {
	color: white;
	background: #183a74;
}

.block-all-results {
	display: none;
	float: left;
	margin-top: 130px;
	width: 100%;
}

.line-block-results {
	/*float: right;
	margin-top: 20px;
	height: 32px;*/
	float: left;
	margin-left: 50px;
	height: 44px;
	margin-bottom: 20px;
}

.parent-text {
	width: 560px;
  	position: relative;
  	z-index: 0;
  	float: left;
  	height: 44px; /* если дочерний элемент будет выше родителя, то родитель увеличится на необходимую высоту. При необходимости заменить на height */
  	text-align: right;
}

.parent-text div {
	max-width: 97%;
	min-width: 10px; /* не обязательно */
  	margin: 0px auto;
  	text-align: right; /* не обязательно */
  	display: inline-block;
  	vertical-align: middle;
}

.parent-text:before {
  	content: "";
  	display: inline-block;
  	min-height: inherit;
  	min-height: 44px;
  	vertical-align: middle;
}

.parent-text div .regular {
	float: left;
	font-size: 18px;
	line-height: 22px;
	color: #76bd2a;
	font-weight: bold;
}

#economy-led-hidden,
#result-led-hidden {
	float: left;
	margin-left: 40px;
	width: 231px;
	height: 40px;
	line-height: 40px;
	border: 2px solid #76bd2a;
	border-radius: 5px;
	color: #183a74;
	font-weight: bold;
	/*margin-bottom: 5px;*/
	/*color: #9f9f9f;*/
	font-size: 28px;
	text-align: center;
}

span.blue {
	color: #183a74;
	font-weight: bold;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 640px) and (max-width: 1280px) {
	
.center-all-block-calc {
	margin: 0px auto;
	max-width: 600px;
}

.button-calc {
	margin-right: 52px;
	margin-top: -175px; /**/
}

.line-block-results {
	float: left;
	margin-left: 0px;
	margin-top: 20px;
	height: auto;
}

.header-left-block-calc {
	text-align: center;
	margin-left: 0px;
	width: 100%;
	padding-right: 0%;
}

.parent-text {
	margin: 0px 0px;
	width: 600px;
	margin-bottom: 20px;
  	position: relative;
  	z-index: 0;
  	float: left;
  	height: auto; /* если дочерний элемент будет выше родителя, то родитель увеличится на необходимую высоту. При необходимости заменить на height */
  	text-align: center;
}

.parent-text div .regular {
	float: left;
	margin-bottom: 5px;
	width: 100%;
	font-size: 20px;
	line-height: 22px;
	color: #76bd2a;
	font-weight: bold;
	text-align: center;
}

.right-block-calc,
.right-block-calc-two,
.right-block-calc-three {
	display: none;
	float: left;
	/*margin: 0px 3%;*/
	/*min-width: 300px;*/
	/*width: 44%;*/
	margin-top: 320px;
}

#economy-led-hidden,
#result-led-hidden {
	float: right;
	margin-right: 182px;
	width: 231px;
	height: 29px;
	line-height: 29px;
	border: 2px solid #76bd2a;
	border-radius: 5px;
	color: #183a74;
	font-weight: bold;
	/*margin-bottom: 5px;*/
	/*color: #9f9f9f;*/
	font-size: 28px;
	text-align: center;
}

.block-all-results {
	margin-top: 100px;
}

}

@media (min-width: 0px) and (max-width: 639px) {
	
.center-all-block-calc {
	margin: 0px auto;
	max-width: 300px;
}

.header-left-block-calc {
	text-align: center;
	margin-left: 0px;
	width: 100%;
	padding-right: 0%;
}

.left-block-calc {
	float: left;
	/*margin: 0px 3%;*/
	/*min-width: 300px;*/
	/*width: 44%;*/
	margin: 0px;
	width: 100%;
}

.one-of-left-block-calc {
	float: left;
	/*margin: 0px 2%;*/
	/*width: 46%;*/
	margin: 0px 30px;
	width: 240px;
}

.all-block-one-of-led {
	margin: 0px 30px;
	margin-top: 20px;
	/*width: 46%;*/
	width: 240px;
	min-height: 100px;
	background: white;
}

.line-block-results {
	float: left;
	margin-left: 0px;
	margin-top: 20px;
	height: auto;
}

.parent-text {
	margin: 0px;
	width: 100%;
  	position: relative;
  	z-index: 0;
  	float: left;
  	height: auto; /* если дочерний элемент будет выше родителя, то родитель увеличится на необходимую высоту. При необходимости заменить на height */
  	text-align: center;
}

.parent-text div .regular {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	font-size: 15px;
	line-height: 20px;
	color: #76bd2a;
	font-weight: bold;
	text-align: center;
}

.right-block-calc,
.right-block-calc-two,
.right-block-calc-three {
	display: none;
	float: left;
	/*margin: 0px 3%;*/
	/*min-width: 300px;*/
	/*width: 44%;*/
	width: 100%;
	margin: 0px;
	margin-top: 390px;
}

input[type="checkbox"]:checked + label.led-line-one,
input[type="checkbox"]:checked + label.led-line-two,
input[type="checkbox"]:checked + label.led-line-three,
input[type="checkbox"]:checked + label.led-line-four,
input[type="checkbox"]:checked + label.led-line-five,
input[type="checkbox"]:checked + label.led-line-six,
input[type="checkbox"]:checked + label.led-line-seven,
input[type="checkbox"]:checked + label.led-line-eight,
input[type="checkbox"]:checked + label.led-line-nine,
input[type="checkbox"]:checked + label.led-line-ten,
input[type="checkbox"]:checked + label.led-line-elewen,
input[type="checkbox"]:checked + label.led-line-twelwe,
input[type="checkbox"]:checked + label.led-line-thirting,
input[type="checkbox"]:checked + label.led-line-fourting {
    border: 1px solid #76bd2a;
    margin-bottom: 50px;
}

.block-all-results {
	display: none;
	float: left;
	margin-top: 10px;
	width: 100%;
}

.button-calc {
	float: left;
	margin-right: auto;
	margin-left: 30px;
	margin-top: -20px; /**/
}

#economy-led-hidden,
#result-led-hidden {
	float: left;
	margin-right: 32px;
	margin-left: 32px;
	width: 231px;
	height: 29px;
	line-height: 29px;
	border: 2px solid #76bd2a;
	border-radius: 5px;
	color: #183a74;
	font-weight: bold;
	/*margin-bottom: 5px;*/
	/*color: #9f9f9f;*/
	font-size: 28px;
	text-align: center;
}

.block-one-of-select.one {
	margin-top: -70px;
}

.block-one-of-select.two {
	margin-top: 140px;
}

.one-of-left-block-calc.right {
	position: relative;
	z-index: 30;
	margin-top: 65px;
	height: 0px;
}

}