
.owl-header-carousel {
	position: relative;

	.owl-slide {
        height: 806px;
        @media(min-width: $tablet-min) {
            height: 1044px;
        }
        @media(min-width: $desktop-min) {
            min-height: 700px;
            height: 100vh;
        }
	}
	
	.owl-slide {
		background-image: url('../images/bg-3.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

        @media (min-width: $tablet-min) {
            background-image: url('../images/bg-2.jpg');
        }

        @media (min-width: $desktop-min) {
            background-image: url('../images/bg-1.jpg');
        }
	}
	.owl-dots {
        position: absolute;
        bottom: 40px;

        @media(min-width: $desktop-min) {
            bottom: 25px;
        }
    }
    
    .owl-dot {
        width: 11px;
        height: 11px;
        margin: 0 8px;
    }
}

.header {
    min-height: 806px;

    @media (min-width: $desktop-min) {
        font-size: 21px;
        font-size: 2.39vh;
        min-height: 700px;

    }
}


// Стили для меню

.header-nav {
    background: rgba(0, 51, 102, 0.35);
    position: fixed;
    top: 0;
    width: 100%;

    @media (min-width: $tablet-min) {
        background: rgba(0, 51, 102, 0.6);
        padding: 17px 0;

        &.is-hidden {
            top: -65px;
            top: -4.6vh;
            transition: top .35s ease;

            &:hover {
                top: 0;
                transition: top .35s ease;
            }
        }
    }

    @media(min-width: $desktop-min) {
        padding: 17px 0;
        padding: 2vh 0;
        height: 57px;
        height: 6.5vh;
        max-height: 68px;
    }

    &__menu {
        display: none;

        @media(min-width: $tablet-min) {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }

        &-show {
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            top: 42px;
            z-index: 20;
            width: 100%;
            margin: 0;
            background: rgba(0, 51, 102, 0.8);
            padding: 25px 0 0;
            text-align: center;

            @media(min-width: $tablet-min) {
                padding: 35px 0;
            }
        }
        
    }

    &__item {
        margin-bottom: 35px;
        font-size: 18px;
        text-transform: uppercase;

        @media(min-width: $tablet-min) {
            display: inline-block;
            margin-bottom: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        @media(min-width: $desktop-min) {
            font-size: 1.1em;
        }

        a {
            position: relative;
            color: #fff;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #fff;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }
}

.sandwich-menu{
    float: right;
    cursor: pointer;
    padding-top: 13px;
    height: 42px;

    @media(min-width: $tablet-min) {
        display: none;
    }
}

.bar1, .bar2, .bar3{
	width: 20px;
	height: 4px;
	background: #fff;
	margin-bottom: 3px; 
	transition: transform 0.4s;
}
.change .bar1{
    transform: rotate(-45deg) translate(-4px, 5px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3{
    transform: rotate(45deg) translate(-5px, -6px);
}

// END Стили для меню


// Начало стилей для полосы контактов в шапке

.header-contacts {
    background: rgba(255, 255, 255, 0.5);
    padding: 9px 0 14px;
    margin-top: 42px;
    width: 100%;

    @media(min-width: $tablet-min) {
        padding: 12px 0;
        margin-top: 53px;
    }

    @media(min-width: $desktop-min) {
        padding: 9px 0 7px;
        margin-top: 50px;
        margin-top: 6.5vh;
        margin-bottom: 61px;
        margin-bottom: 7vh;
    }

    &__wrapper {

        @media (min-width: $tablet-min){
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }


    &__item {
        color: #003366;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        & a, span{
            font-weight: bold;
            color: #003366;
        }
        @media(min-width: $tablet-min) {
            display: inline-block;
            margin-bottom: 0;
        }
    }

    &__adress {
        font-size: 16px;

        & .fa {
            font-size: 19px;
            margin-right: 8px;
        }

        @media(min-width: $desktop-min) {
            font-size: 0.9em;
        }
    }

    &__phone {
        
        & .fa {
            font-size: 18px;
            margin-right: 7px
        }
        & span {
            font-size: 18px;
        }

        @media(min-width: $desktop-min) {
            
            & .fa {
                font-size: 1.15em;
            }

            & span {
                font-size: 1.15em;
            }
        }
    }

    &__callback {
        & a {
            border-bottom: 1px solid #003366;
        }

        @media(min-width: $tablet-min) {
            float: right;
        }
        @media(min-width: $desktop-min) {
            font-size: 0.9em;
        }
    }
}


//  Стили для круга на первом экране

.circle-container {
    display: block;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin: 17% auto 63px;
    padding: 16px 10px;
    background:  rgb(255, 255, 255);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);

    @media(min-width: $tablet-min) {
        width: 530px;
        height: 530px;
        margin-top: 8%;
        padding: 34px;
        margin-bottom: 61px;
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5);
    }

    @media(min-width: $desktop-min) {
        margin-top: 0;
        min-width: 370px;
        width: 460px;
        width: 53vh;
        min-height: 370px;
        height: 460px;
        height: 53vh;
        padding: 36px 34px 34px;
        padding: 2.8vh 2.5vh 2.5vh;
        margin-bottom: 4.6vh;
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

.header-content {
    text-align: center;

    &__logo {
        margin: 0 auto 9px;
        width: 160px;

        img {
            max-width: 100%;
        }

        @media(min-width: $tablet-min) {
            width: 310px;
            margin-bottom: 9px;
        }

        @media(min-width: $desktop-min) {
            min-width: 180px;
            width: 194px;
            width: 28vh;
            max-width: 245px;
            margin-bottom: 2px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 25px;
        color: #003366;
        margin-bottom: 8px;

        @media(min-width: $tablet-min) {
            font-size: 50px;
            line-height: 63px;
            margin-bottom: 20px;
        }

        @media(min-width: $desktop-min) {
            font-size: 2.4em;
            line-height: normal;
            margin-bottom: 15px;
        }
    }

    .section-stripe {
        margin-bottom: 15px;

        @media(min-width: $tablet-min) {
            margin-bottom: 14px;
        }

        @media (min-width: $desktop-min) {
            margin-bottom: 16px;
            margin-bottom: 2vh;
        }
    }

    &__tagline {
        width: 82%;
        margin: 0 auto;
        font-size: 12px;
        line-height: 17px;
        color: #003366;
        text-align: center;

        @media(min-width: $tablet-min) {
            width: 400px;
            margin: 0 auto;
            font-size: 24px;
            line-height: 33px;
        }

        @media(min-width: $desktop-min) {
            min-width: 295px;
            width: 380px;
            width: 48vh;
            max-width: 490px;
            font-size: 1.2em;
            line-height: normal;
        }
    }

    &__btn {
        font-weight: bold;
        font-size: 20px;
        color: #003366;
        background: rgba(255, 255, 255, 0.8);
        padding: 16px;
        margin-bottom: 29px;
        max-width: 496px;

        &:hover {
            background: rgba(255, 255, 255, 1);
            color: #003366;
        }

        @media(min-width: $tablet-min) {
            font-size: 30px;
            padding: 14px 0 16px;
            width: 455px;
            margin-bottom: 20px;
        }

        @media(min-width: $desktop-min) {
            min-width: 370px;
            width: 460px;
            width: 53vh;
            margin-bottom: 20px;
            margin-bottom: 2vh;
            font-size: 1.35em;
            padding: 14px 0;
            padding: 2vh;
        }
    }

    &__description {
        padding: 9px 5px;
        margin: 0 auto;
        max-width: 570px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        font-size: 16px;
        line-height: 21px;
        color: #003366;

        @media(min-width: $tablet-min) {
            font-size: 22px;
            line-height: 33px;
            padding: 5px 5px 10px;
        }

        @media (min-width: $desktop-min) {
            font-size: 1.1em;
            line-height: normal;
            padding: 7px 0;
            padding: 1vh 0;
            min-width: 440px;
            width: 71vh;
            max-width: 630px;
        }
    }
}