.technology {
    &__image {
        width: 100%;
        min-height: 190px;
        height: 250px;
        max-height: 250px;
        height: 100vh;
        text-align: center;
        margin-bottom: 30px;
        position: relative;

        img {
            width: 67%;
        }

        &-item {
                width: 45%;
                position: absolute;

                &--left {
                    top: 0;
                    left: -10px;
                }

                &--middle {
                    top: 20px;
                    left: 88px;

                    img {
                        width: 60%;
                    }
                }

                &--right {
                    bottom: 15px;
                    right: -10px;

                    img {
                        width: 70%;
                    }
                }
            }
    }

    &__advantages {
        margin-bottom: 63px;

        &-item {
            margin-bottom: 35px;
            
            &:last-child {
                margin-bottom: 0;
            }

            &-image {
                margin-bottom: 18px;
            }
        }
        
    }
    
    @media(min-width: $tablet-min) {
        &__image {
            width: 65%;
            margin: 0 auto;
            margin-bottom: 35px;

            img {
                width: 55%;
                margin-left: 0;
            }

            &-item {
                &--left {
                    left: 0;
                }

                &--middle {
                    top: 20px;
                    left: 28%;

                    img {
                        width: 45%;
                    }
                }
            }
        }

        &__advantages {
            margin-bottom: 63px;

            &-item {
                width: 48%;
                float: left;

                &:nth-child(odd) {
                    margin-right: 27px;
                }
                &:nth-child(5) {
                    margin-bottom: 0;
                }

                &-image {
                    margin-bottom: 18px;
                }
            }
        }
    }

    @media(min-width: $desktop-min) {
        &__image {
            float: right;
            width: 31%;
            height: 535px;
            max-height: 535px;
            
            img {
                width: 100%;
                margin-left: 0;
            }

            &-item {
                &--left {
                    top: 70px;
                    left: -20px;
                }

                &--middle {
                    top: 166px;
                    left: 92px;

                    img {
                        width: 70%;
                    }
                }

                &--right {
                    bottom: 0;
                    right: -8px;

                    img {
                        width: 80%;
                    }
                }
            }
        }

        &__advantages {
            float: left;
            width: 69%;

            &-item {
                width: 45%;
                margin-bottom: 36px;

                &:nth-child(odd) {
                    clear: both;
                    margin-right: 35px;
                }
            }
        }

        &__btn {
            clear: both;
        }
    }
}